@model RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
    <div class="row">
        <div class="border col-md-4 offset-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Username">Потребителско име</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Парола</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Парола повторно</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Регистрация" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>