@{
    ViewBag.Title = "Начало";
}

<h3>Задание:</h3>
<pre>
        Списък за пазаруване
        Да бъде разработено Web приложение за списък за пазаруване. Прилложението поддържа
        следните номенклатури:
        1. Категория продукти
        2. Продукти
        Всички списъци за пазаруване са индивидуални и могат да бъдат достъпвани само от
        потребителя, който ги е създал.
        Потребителите трябва да могат да създават списъци, да ги редактират и да отбелязват кои
        продукти са вече закупени.
        Потребителите могат да се регистрират свободно.
        Категориите и продуктите са общи за всички.
        Да бъдат направени следните екрани:
        1. Списък, добавяне и редактиране на категория
        2. Списък, добавяне и редактиране на продукти към категория
        3. Списък, добавяне и редактиране на списък за пазаруване
        4. Визуализация на списък за пазруване с възможност за отбелязване на закупените продукти
        Технологии, които трябва да бъдат използвани:
        Docker контейнери
        RDBMS PostgreSQL (вдигнат в докер контейнер)
        Entity Framework Core (Code First с методи за първоначално пълнене на номенклатурните
        таблици с примерни данни)
        ASP .Net 6 MVC Web Application
        Microsoft Identity (за управление на потребителите)
</pre>
<h3>Предефинирани данни (seed):</h3>
<pre>
        1. потребители:
            -username: admin    password: admin     role: administrator
            -username: user     password: 123       role: user
            -username: user2    password: 123       role: user

        2. категории:
            -Rock
            -Bues
            -Jazz

        3. най-много продукти има за user, но и за 2-та потребителя има данни за всички категории.

        4. Реших че не е необходимо да създавам seed за нещата свързани с създаване на списъци. 
</pre>
<h3>Бележки по заданието:</h3>
<pre>
        1. Приемам, че не се изисква изтриване на нищо. Изисква се добавяне и редакция.

        2. Приемам, че след като категориите трябва да бъдат общи най-удачно ще е да са създадени от администратор.

        3. Не ми стана ясно от заданието дали когато се маркира продукт който е добавен в списък като закупен трябва да се
        маркира във всички списъци или само в този който е маркиран - избрал съм последното (само в текущия списък).
</pre>
<h3>Бележки по имплементацията:</h3>
<pre>
        1. Не смятам, че трябва unique индексите да работят case sensitive (false при х == Х) - вмомента работят така.
        Опитах да сменя колацията както е описано в документацията:
        https://www.npgsql.org/efcore/misc/collations-and-case-sensitivity.html?tabs=data-annotations
        но не сработи при кирилица. Оставил съм го без това поведение за да не изгубя време за идентифициран конфигурационен детайл. 
        Това ще доведе до възможността за добавяне на категория с едно и също име с и без главна буква например.
        
        2. Реших да оставя всички exceptions открити, за да може по лесно да се види причината за тях(много е възможно да има).
        Не съм правил юнит тестове за да се включа в смислен срок.
        
        3. Оставил съм коментари в кода на някой места които съм забелязъл че може да има по добри решения от текущите.
</pre>

